.profile__add-button {
    height: 50px;
    width: 150px;
    border: 2px solid #fff;
    background-color: #000;
    margin: 35px 0;
}

.profile__add-button:hover {
    opacity: .5;
    cursor: pointer;
}

@media screen and (max-width: 1077px) {
    .profile__add-button {
        margin-bottom: 0;
        width: 282px;
    }
}