.popup__save-button {
    height: 50.15px;
    width: 358px;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 0;
    margin-left: 36px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.popup__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 836px) {
    .popup__save-button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-left: 22px;
    }
}